/* main styles */
:root {
	--secondary-color: #23619b;
	--primary-color: #ffffff;
	--text-color: #000000;
}
body {
	margin: 0px;
}
.grid-container {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr 10fr;
}
.grid-item {
	background-color: var(--primary-color);
	color: var(--text-color);
	/* text-align: center; */
}

/**  sidebar styles **/
.side-bar {
	padding: 12px;
	grid-row: span 2;
	border-radius: 0px 15px 0px 0px;
	border: 2px solid #b8b6b644;
	border-bottom: none;
	box-shadow: 0px #38383844 !important;
}
.sub-header {
	font-size: 24px;
	font-family: Dongle, sans-serif !important;
	font-weight: 500;
}

/* logo styles */
.logo {
	width: 163px;
	height: 67px;
	top: 12px;
	left: 12px;
}
/* buttons styles */
.button-row {
	display: flex;
}
.sidebar-container {
	display: none;
}
.sidebar-container:target {
	display: block;
}

.custom-button {
	text-decoration: none;
	margin-top: 20px;
	font-size: 24px;
	font-weight: 500;
	height: 31px;
	padding-right: 10px;
	border-radius: 10px;
	background-color: var(--primary-color);
	color: var(--text-color);
	font-family: Dongle, sans-serif !important;
	text-align: left;
	cursor: pointer;
	border: 1px solid #b8b6b644;
	box-shadow: 0px 1px 0px 1.2px #38383844;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* .custom-button:hover {
	background-color: var(--secondary-color);
	color: var(--primary-color);
} */
.highlighted {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}
.custom-button img {
	margin-left: 2px;
	margin-right: 5px;
	justify-content: left;
}
.button-1,
.button-2 {
	margin-right: 10px;
}

/* searchbar styles */
.search-bar {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.search-input {
	margin-top: 20px;
	padding: 10px 0px 10px 0px;
	width: 90%;
	border-radius: 10px;
	border: 1px solid #b8b6b644;
	box-shadow: 0px 1px 0px 1.2px #38383844;
	flex: 1;
	padding-left: 10%;
}
.search-icon {
	position: absolute;
	top: 70%;
	transform: translateY(-50%);
	padding: 8px;
}
.icon-left {
	left: 0;
}
.icon-right {
	right: 0;
}
.search-input::placeholder {
	font-family: Dongle, sans-serif !important;
	font-size: 20px;
}
/* dropdown buttons */
.dropdown-button {
	margin-bottom: 5px;
	margin-top: 5px;
	width: 100%;
	height: 31px;
	font-size: 24px;
	border-radius: 10px;
	font-family: Dongle, sans-serif !important;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border: 1px solid #b8b6b644;
	box-shadow: 0px 1px 0px 1.2px #38383844;
}
.dropdown-items {
	margin-top: 5px;
}
.scroll-items {
	position: relative;
	width: 300px;
	overflow: hidden;
}
.scroll-item {
	display: flex;
	flex-direction: column;
	max-height: 120px;
	overflow-y: scroll;
	scrollbar-width: thin; /* For Firefox */
}
.button-item {
	margin-bottom: 5px !important;
	font-size: 22px;
	width: 80%;
	height: 31px;
	background-color: var(--primary-color);
	color: var(--text-color);
	border-radius: 10px;
	font-family: Dongle, sans-serif !important;
	cursor: pointer;
	border: 1px solid #b8b6b644;
	box-shadow: 0px 1px 0px 1.2px #38383844;
	display: flex;
	justify-content: flex-start;
	margin: auto;
}
.button-icon1 {
	background-image: url("./assets/info.svg"); /* add info icon */
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 10px;
	background-origin: content-box;
}
.button-icon2 {
	background-image: url("./assets/eye.svg"); /* add info icon */
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 10px;
	background-origin: content-box;
}
.button-item:hover {
	background-color: #8a8a8aa2;
}
.button-item img {
	width: 1.2em;
	height: 1.2em;
	margin-right: 30px;
}
.circle {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-right: 8px;
	margin-top: 6px;
}
.circle-blue {
	background-color: #0dcaf0;
}
.circle-green {
	background-color: #198754;
}
.circle-red {
	background-color: #dc3545;
}
.circle-purple {
	background-color: #6610f2;
}
.circle-ash {
	background-color: #bdc9ce;
}
.feature .button-item {
	font-size: 18px;
	font-family: Dongle, sans-serif !important;
}
.feature {
	display: none;
}
.companies {
	margin: 5%;
	background-color: #ffffff;
	border: 2px solid #b8b6b644;
	box-shadow: 0px 2px 2px 2px #38383844;
	display: none;
	font-family: Dongle, sans-serif !important;
	font-size: 18px;
}
/** navbar styles **/
.nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-bar h1 {
	font-family: Roboto, sans-serif !important;
	font-size: 32px;
	font-weight: 400;
	line-height: 38px;
	letter-spacing: 0em;
	text-align: center;
	padding-left: 150px;
}
.header-button {
	font-size: 24px;
	font-family: Dongle, sans-serif !important;
	color: var(--text-color);
	background-color: var(--primary-color);
	cursor: pointer !important;
	border: 0px solid #b8b6b644;
}
.nav-links {
	list-style: none;
	display: flex;
	cursor: pointer;
}
.nav-links li {
	margin-right: 20px;
}
.nav-links a {
	text-decoration: none;
	transition: color 0.3s;
}
.toggle-button {
	display: none; /* display none toggle button */
}

/** map styles **/
.map {
	padding: 0px 10px;
	position: relative;
	order: 2;
}

.map iframe {
	border-radius: 15px !important;
	border: 2px solid #b8b6b644;
	box-shadow: 0px 2px 2px 2px #38383844;
}
.map-icons {
	position: absolute;
	top: 110px;
	left: 10px;
	z-index: 1;
}
.map-icon {
	cursor: pointer;
	padding: 0px !important;
	margin: 0px !important;
}
.mapView {
	left: 20px;
	position: absolute;
}

/** media queries for mobile**/
@media screen and (max-width: 991px) {
	.grid-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1px;
	}

	/** nav-bar container mobile styles **/
	.nav-bar {
		order: 1;
		display: unset;
		align-items: center;
		justify-content: unset;
	}
	.header-mobile {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.nav-bar h1 {
		font-size: 24px;
		font-weight: 700;
		padding-left: 10%;
	}
	.logo {
		width: 110px;
		height: 50px;
	}
	.nav-links {
		display: none; /* display none nav links */
	}
	.nav-links li {
		margin-right: 20px;
	}
	.show-nav {
		display: flex; /* show nav links */
		align-items: center;
		justify-content: center;
	}
	.toggle-button {
		display: block; /* show toggle */
		background: none;
		border: none;
		font-size: 30px;
		font-weight: 700;
		cursor: pointer;
		padding-right: 2%;
	}

	/** sidebar container mobile styles **/
	.side-bar {
		order: 3;
		display: none;
	}
	.sidebar-container {
		display: none;
	}
	.custom-button {
		margin-top: 0px;
	}
	.logo {
		padding-bottom: 10px;
		padding-left: 30%;
	}
	.search-bar {
		position: relative;
	}

	/** map container mobile styles **/
	.map {
		order: 2;
	}
	.map iframe {
		position: absolute;
		left: 0;
	}
	.map-icons {
		top: 120px;
	}
	.mapView {
		top: 20px;
		left: 20px;
		display: block;
		position: absolute;
		z-index: 1;
	}
	.mobile-mapView {
		display: none;
	}
}

/* Media query for desktop views */
@media (min-width: 991px) {
	.logo-mobile {
		display: none;
	}
	.sidebar-container {
		display: none;
	}
	.mapView {
		display: none;
	}
}

/* //card component styles */
.card-div1 {
	padding: 20px 30px 20px 30px;
	border-radius: 10px;
	text-align: center;
	position: absolute;
	top: 10%;
	left: 30%;
	background-color: #ffffff;
	border: 2px solid #b8b6b644;
	box-shadow: 0px 2px 2px 2px #38383844;
	display: none;
}
.card-div1 .button-column {
	background-color: #e9e8e8;
	padding: 15px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	max-height: 120px;
	overflow-y: scroll;
	scrollbar-width: thin;
}

.card-div1 .button-column .button-item {
	margin-bottom: 5px;
	background-color: #ffffff;
	width: 163px;
	height: 21px;
	border-radius: 5px;
	font-size: 18px;
}
.card-div1 .button-column .circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 8px;
	margin-top: 3px;
}
.card-div1 .card-title {
	font-size: 22px;
	font-weight: 600;
	font-family: Dongle, sans-serif !important;
}
.card-div1 .card-text {
	font-size: 20px !important;
	color: #000000 !important;
	font-family: Dongle, sans-serif !important;
}
.card-div1 .btn {
	font-family: Dongle, sans-serif !important;
	background-color: #ffffff;
	color: #000000;
	border: 1px solid rgb(0, 0, 0);
	font-size: 18px;
	border-radius: 20px;
	padding: 2px 20px 2px 20px;
}
.button-column .special {
	font-family: Dongle, sans-serif !important;
	background-color: #23619b !important;
	margin-bottom: 5px;
	border: 0px solid rgb(0, 0, 0);
	height: 21px;
	border-radius: 5px;
	font-size: 18px !important;
}

/* tree view styles for companies list */
.tree {
    min-height:20px;
    /* padding:19px;
    /* margin-bottom:20px;    ----------------- */
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative;
    
}
.tree li::before, .tree li::after {
    content:'';
    left:-15px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #9999999f;
    bottom:30px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
   border-top:1px solid #44444454; 
    height:20px;
    top:20px;
    width:15px
}
.tree li span {
    /* -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999; */
    /* border-radius:5px; */
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:20px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    /* background:#eee; */
    /* border:1px solid #94a0b4; */
    color:#000
}
.tree .link{
     text-decoration: underline;
     color: blue;
     display: inline;
}

/* tool tip */
.tooltip {
	/* position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: rgba(0, 0, 0, 0.575);
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1000;
	top: -5px;
	left: 110%;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 20%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent black transparent transparent;
	z-index: 1000;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	z-index: 1000;
}